<div class="col-sm-12" id = "header_img">
    <%= image_tag "top.jpg", class:"img-responsive" %>
</div>

<article>
  <div class="contents">
   <div class="row">
      
    <div class="col-md-6">
         <ul class="row_A" id="top_content">
           <li class="col-sm-12 col-md-5">dive-into-code</li>
           <li class="col-sm-12 col-md-5">eeeeeeeeeeeeee</li>
           <li class="col-sm-12 col-md-5">aaaaaaaaaaaaaa</li>
           <li class="col-sm-12 col-md-5">bbbbbbbbbbbbbb</li>
         </ul>
    </div>
    
    <div class="col-md-6">
      <div class="row_B">
        <h3>シリーズ課題3<h3>
        <p>aaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaa</p>
        <p>aaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
    </div>
    
   </div>
  </div>
</article>
<div class="push_top"></div>
