/*.blog_title{
    border-style:groove;
    max-width:100rem;
    margin:auto;
    word-break: break-all;
    margin-top:30px;
}

.blog_content{
    border-style:groove;
    max-width:100rem;
    min-height:30rem;
    margin:auto;
    word-break: break-all;
}*/